:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}


p-tabs {
    flex: 1;
    overflow: hidden;
}

:host ::ng-deep {
    ng-scroll-content {
        padding: 1rem;
    }
}

.roles-search {
    display: flex;
    flex-direction: column;
}

.search-input {
    width: 100%;
    padding: 0.5rem;
}

.roles-grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.permissions-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.permission-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.permission-actions {
    display: flex;
    gap: 0.5rem;
}
